* {
  box-sizing: border-box !important;
}

::selection {
  background-color: var(--p-200);
}

html,
body,
#root {
  scroll-behavior: smooth !important;
  height: 100%;
}

body {
  /* background-image: url('../../public/assets/bg.png'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.landingPage {
  overflow: auto;
  /* background-image: url('../../public/assets/appBg.png'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.landingPage #hero {
  /* border: 1px solid red; */
  overflow: hidden;
}
