:root {
  --accent: #fdd100;
  --accent-dim: #d9b115;
  --dark-border: #505765;
  --dark-dim: #2d3748;
  --dark: #1a202c;
  --p-50: #e5f0fc;
  --p-100: #ccdff9;
  --p-200: #adc7ed;
  --p-300: #92addc;
  --p-400: #6d8ac5;
  --p-500: #4f6aa9;
  --p-600: #364d8d;
  --p-700: #223472;
  --p-800: #14235e;
}

* {
  box-sizing: border-box !important;
}

::selection {
  background-color: var(--p-200);
}

html,
body,
#root {
  scroll-behavior: smooth !important;
  height: 100%;
}

body {
  /* background-image: url('../../public/assets/bg.png'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.landingPage {
  height: 100%;
  overflow: auto;
  /* background-image: url('../../public/assets/appBg.png'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.landingPage #hero {
  /* border: 1px solid red; */
  height: 95%;
  overflow: hidden;
}
