:root {
  --accent: #fdd100;
  --accent-dim: #d9b115;
  --dark-dim: #2d3748;
  --dark: #1a202c;
  --light: #f8f8f8;
  --light-dim: #e0e0e0;
  --p-50: #e5f0fc;
  --p-100: #ccdff9;
  --p-200: #adc7ed;
  --p-300: #92addc;
  --p-400: #6d8ac5;
  --p-450: #5b78b3;
  --p-500: #4f6aa9;
  --p-600: #364d8d;
  --p-700: #223472;
  --p-800: #14235e;
}

* {
  box-sizing: border-box !important;
}

::selection {
  background-color: var(--p-200);
}

html,
body,
#root {
  scroll-behavior: smooth !important;
  height: 100%;
}

/* ::-webkit-scrollbar {
  width: 12px;
  border-radius: 16px;
  background-color: var(--p-100);
  padding-left: 4px;
} */

/* ::-webkit-scrollbar-thumb {
  background-color: var(--p-300);
  border-radius: 16px;
} */

.vendereApp {
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  background-image: url('../assets/appBg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.btn {
  border-radius: 50px !important;
}

.primaryBtn {
  background: #4f6aa9;
}
.primaryBtn:hover {
  background: var(--p-600) !important;
}
.primaryBtn:active {
  background: var(--p-700) !important;
}

.primaryBtnOutline:hover {
  background: var(--p-50) !important;
}
.primaryBtnOutline:active {
  background: var(--p-100) !important;
}

.secondaryButtonOutline:hover {
  background: var(--p-400) !important;
}
.secondaryButtonOutline:active {
  background: var(--p-300) !important;
}

/* .inputBox:focus-visible {
  border: '2px solid var(--p-700) !important';
} */

.items,
.invoice {
  border: 1px solid yellow;
}

nav {
  width: 200px;
  height: 100%;
  padding-right: 16px;
  /* border: 1px solid white; */
  /* font-size: 20px; */
}

nav li {
  display: flex;
  align-items: center;
  /* border: 1px solid white; */
  padding: 6px 16px;
  border-radius: 10px;
  margin: 16px 0;
  cursor: pointer;
}
nav li:hover {
  text-decoration: 1px solid underline;
}
.navListActive {
  background: linear-gradient(to right, var(--p-50), var(--p-50));
  color: var(--p-500);
  position: relative;
}
.navListActive::before {
  content: '';
  width: 8px;
  height: 100%;
  background: var(--accent);
  position: absolute;
  left: 0px;
  border-radius: 100px 0 0 100px;
}

.miniProfileImage {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background: var(--p-100);
  position: absolute;
  bottom: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navMobile {
  position: fixed;
  width: calc(100% - 16px);
  height: 56px;
  bottom: 8px;
  padding: 0 32px;
  margin: 0 8px;
  border-radius: 16px;
  /* background-color: var(--p-500); */
  transition: 0.3s;
  /* background: linear-gradient(
    to bottom,
    var(--p-500),
    var(--p-600)
  ); */
}

.navMobile > ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.navMobile > ul > li,
#navProfile {
  /* border: 1px solid white; */
  width: 100%;
}

.navMobileContentBtn {
  /* border: 1px solid red; */
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  cursor: pointer;
}
.navMobileContentBtnSelect {
  background: linear-gradient(to bottom, var(--p-400), transparent);
  position: relative;
}
.navMobileContentBtnSelect::before {
  content: '';
  width: 100%;
  height: 4px;
  background: var(--accent);
  position: absolute;
  top: 0;
}

.cartList {
  /* border: 1px solid red; */
  overflow: auto;
  height: 100%;
}

.items {
  /* border: 1px solid red; */
  border: none;
  height: 90%;
  /* margin-top: 12px; */
}

.itemTd {
  vertical-align: top;
}
