:root {
  --accent: #fdd100;
  --accent-dim: #d9b115;
  --dark-dim: #2d3748;
  --dark: #1a1a1a;
  --light: #f8f8f8;
  --light-dim: #f0f0f0;
  --p-50: #fff;
  --p-50a: #ffffff90;
  --p-75: #dedede;
  --p-100: #bebebe;
  --p-200: #888888;
  --p-200a: #88888830;
  --p-250: #606060;
  --p-300: #303030;
  --p-350: #252525;
  --p-400: #181818;
  --p-450: #161616;
  --p-500: #000000;
  --p-500a: #09090980;
  --p-450a: #1e1e1e70;
}

* {
  box-sizing: border-box !important;
}

::selection {
  background-color: var(--accent) !important;
  color: black;
}

html,
body,
#root {
  scroll-behavior: smooth !important;
  height: 100%;
  width: 100%;
}

.skeleton {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 0 12px;
}

.skeleton::-webkit-scrollbar,
#itemDetails::-webkit-scrollbar,
.items::-webkit-scrollbar,
.cartList::-webkit-scrollbar {
  width: 8px;
  /* border-radius: 16px; */
  background-color: var(--p-100);
}

#content::-webkit-scrollbar,
#navOptions::-webkit-scrollbar {
  width: 8px;
  border-radius: 16px;
  background-color: var(--p-100);
}

#content::-webkit-scrollbar-thumb,
#navOptions::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--p-250);
  /* border-radius: 16px; */
}

.vendereApp {
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('../assets/appBg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.btn {
  border-radius: 12px !important;
}

/* .inputBox:focus-visible {
  border: '2px solid var(--p-700) !important';
} */

#cashierNav {
  margin: 0;
}

.navListActive {
  background: linear-gradient(to right, var(--p-50), var(--p-50));
  color: var(--p-500);
  position: relative;
}
.navListActive::before {
  content: '';
  width: 8px;
  height: 100%;
  background: var(--accent);
  position: absolute;
  left: 0px;
  border-radius: 100px 0 0 100px;
}

.navMobile {
  position: fixed;
  width: calc(100% - 16px);
  height: 56px;
  bottom: 8px;
  padding: 0 32px;
  margin: 0 8px;
  border-radius: 16px;
  /* background-color: var(--p-500); */
  transition: 0.3s;
  /* background: linear-gradient(
    to bottom,
    var(--p-500),
    var(--p-600)
  ); */
}

.navMobile > ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.navMobile > ul > li,
#navProfile {
  /* border: 1px solid white; */
  width: 100%;
}

.navMobileContentBtnSelect {
  background: linear-gradient(to bottom, var(--p-400), transparent);
  position: relative;
}
.navMobileContentBtnSelect::before {
  content: '';
  width: 100%;
  height: 4px;
  background: var(--accent);
  position: absolute;
  top: 0;
}

.cartList {
  /* border: 1px solid red; */
  overflow: auto;
  height: 100%;
}

.itemSelected::before {
  content: '';
  width: 6px;
  height: 100%;
  background-color: var(--accent);
  position: absolute;
  left: 0;
  top: 0;
}

.itemTd {
  vertical-align: top;
}

.selectedLoginRole {
  background: var(--p-500);
  color: var(--p-100);
  font-weight: bold;
}

.dashboardLabel {
  padding: 0 4px;
}

.detailsLabels{
  opacity: 0.5;
}
